.epipelagic
	background-color: grey
	color: white
	nav
		display: flex
		justify-content: center
		a
			text-decoration: none
			text-transform: uppercase
			padding: 1rem .7rem
			font-weight: bold
			display: inline-block
			color: white
		a:hover
			background-color: black

.usermenu
	position: absolute
	right: 0
	top: 0
