

/* File upload field and displays */
.jammin-upload .s3direct
	// Overrides for the s3Direct widget styles
	float: none

	.progress
		background: #333
		width: 100%

	.file-remove
		margin-top: 0
		text-transform: uppercase

	.progress,
	.file-link,
	.file-input,
	.file-remove
		display: block
		float: none
		clear: none

	// Waiting for Upload
	&.form-active .file-input
		display: block

	&.form-active .uploading,
	&.form-active .upload-complete
		display: none

	// Activly Uploading
	&.progress-active .uploading
		display: flex
		span
			margin-right: 1rem

	&.progress-active .upload-complete
		display: none

	// Upload Complete
	&.link-active .upload-complete
		display: flex
		span, a
			margin-right: 1rem

	&.link-active .uploading
		display: none

.jammin-upload
	display: flex
	flex-wrap: wrap
	align-items: flex-end
	.field-wrapper, .submit-wrapper
		margin-bottom: 20px
		box-sizing: border-box
		padding-right: 2rem
		input
			padding-right: none
	.submit-wrapper
		text-align: right
		flex-basis: 100%
	.field-wrapper.file
		flex-basis: 100%
	.field-wrapper.species,
	.field-wrapper.population,
	.field-wrapper.subpopulation
		flex-basis: 33.333%
	.field-wrapper.latlon
		page-break-after: always
	.field-wrapper.commtype,
	.field-wrapper.datetime
		flex-basis: 33.333%
	.field-wrapper.equipment,
	.field-wrapper.description
		flex-basis: 100%
	.datetime input,
	.equipment input
		width: 100%
		box-sizing: border-box
	.description textarea
		width: 100%
		height: 10rem
		box-sizing: border-box
