/* File upload field and displays */
.jammin .s3direct
	// Overrides for the s3Direct widget styles
	float: none

	.progress
		background: #333
		width: 200px

	.file-remove
		margin-top: 10px
		text-transform: uppercase

	.progress,
	.file-link,
	.file-input,
	.file-remove
		display: block
		float: none
		clear: none

	// Waiting for Upload
	&.form-active .file-input
		display: block

	&.form-active .uploading,
	&.form-active .upload-complete
		display: none

	// Activly Uploading
	&.progress-active .uploading
		display: block

	&.progress-active .upload-complete
		display: none

	// Upload Complete
	&.link-active .upload-complete
		display: block

	&.link-active .uploading
		display: none

